extends layout

block content
  header 
      h1 THE CLUBHOUSE
      if currentUser
        a(href="/logout") Logout
      else 
        a(href="/signup").join-button Join 
  div.home-content
    if currentUser
      div.send-message
        h2 Send message
        form(method="POST")
          textarea(placeholder="What are you thinking?" name="message")
          button Send
    else
      h2 Log in to send a message
    hr
    if messages.length
      div.message-list
        ul 
          include message_mixin
          each message in messages 
            +message(currentUser && currentUser.is_member ,message.user.full_name, message.user.username, message.text)
    else
      h1 No messages yet, be the first one!

