extends layout

block content
  header 
      h1 THE CLUBHOUSE
      if currentUser
        a(href="/logout") Logout
      else 
        a(href="/signup").join-button
          span JOIN
  div.home-content
    div.send-message
      if currentUser
          h2 Send message
          form(method="POST")
            div.message-container
              textarea(placeholder="What are you thinking?" name="message")
            button Send
          hr
      else
        div.login-message
          h2 Want to send a message?
          a(href="/login")
            strong Log in
    if messages.length
      div.message-list
        ul 
          include message_mixin
          each message in messages
            li 
              +message(currentUser && currentUser.is_member ,message.user.full_name, message.user.username, message.text)
    else
      h1 No messages yet, be the first one!

