extends layout
block content 
            div.golden-card
                form.signup-form(method='POST')
                    label Username
                        div.gold-border
                            input.form-field(type="text" name="username")
                    label Password 
                        div.gold-border    
                            input.form-field(type="password" name="password")
                    button
                        span Log in