extends layout
block content 
    form(method='POST')
        label Username
            input(type="text" name="username")
        label Password 
            input(type="password" name="password")
        button Log in