mixin message(isMember, user_full_name, username, text)
        span
            if isMember 
                strong #{user_full_name} (#{username})
            else 
                strong Someone
            |  Says:
        div.gold-border
            div.message
                div.message-text
                    p.text=text