mixin message(isMember, message)
        span.message-user
            if isMember 
                strong #{message.user.full_name} (#{message.user.username})
            else 
                strong Someone
            |  Says:
        div.gold-border
            div.message
                div.message-text
                    p.text=message.text
                    if isMember
                        span.informative=message.createdAt_formatted