extends layout 
block content 
    div.signup-content
        h1 JOIN THE CLUBHOUSE 
        h2 Select your experience
        div.method-select
            div.cards-container
                a(href="#")
                    div.card.user-card
                        h3 User 
                        ul 
                            li Write messages 
                            li Boring
                a(href="/signup/member")
                    div.card.member-card
                        h3 MEMBER 
                        ul 
                            li All the user benefits 
                            li Additional information about the messages 
                            li Requires password 
            span Already have an account? #[a(href="/login") Login]
