extends layout 
block content 
    h1 JOIN THE CLUBHOUSE 
    h2 Select your experience 
    div.cards-container
        div.user-card
            h3 User 
            ul 
                li Write messages 
                li Boring
        a(href="/signup/member")
            div.member-card
                h3 MEMBER 
                ul 
                    li All the user benefits 
                    li Additional information about the messages 
                    li Requires password 
    span Already have an account? #[a(href="/login") Login]
