extends layout 
block content 
    div.signup-content.form-content
        h1.signup-heading JOIN THE CLUBHOUSE
        div.signup-form-wrapper
            h2 #[strong This will be an unforgettable experience,] #[i unless you forget it]
            form.signup-form(method="POST")
                label First name
                    div.gold-border 
                        input.form-field(type="text" name="first-name" placeholder="Kyle")
                label Last name
                    div.gold-border 
                        input.form-field(type="text" name="last-name" placeholder="Adams") 
                label Username
                    div.gold-border
                        input.form-field(type="text" name="username") 
                fieldset.password-section
                    label Password
                        div.gold-border
                            input.form-field(type="password" name="password")
                    label Confirm password
                        div.gold-border
                            input.form-field(type="password" name="confirm-password")
                    span Password must contain at least 8 characters
                label Secret member password
                    div.gold-border
                        input.form-field(type="password" name="status")
                button Let's #[span go]