extends layout 
block content
    if locals.upgrade_error 
        span.error=error
    else
        div.golden-card-container
            div.golden-card
                div
                    h1 You are just a password away
                    h2 of becoming a member
                form(method="POST")
                    div
                        div.gold-border
                            input.form-field(type="password" name="member-password")
                        if locals.password_error
                            include error_span_mixin 
                            +errorSpan([password_error])
                    button
                        span JOIN