@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --bg-color: hsl(263, 81%, 6%);
    --bg-color-light: hsl(261.6deg 38.02% 14.75%);
    --accent-color: hsl(292, 100%, 88%);
    --accent-color-light: hsl(292, 66%, 90%);
    --accent-color-dark: hsl(284, 100%, 17%);
    --gold-dark: hsl(47, 82%, 35%);
    --gold-light: hsl(48, 76%, 79%);
    --golden-gradient: radial-gradient(
            ellipse farthest-corner at right bottom,
            #fedb37 0%,
            #fdb931 8%,
            #9f7928 30%,
            #8a6e2f 40%,
            transparent 80%
        ),
        radial-gradient(
            ellipse farthest-corner at left top,
            #ffffff 0%,
            #ffffac 8%,
            #d1b464 25%,
            #5d4a1f 62.5%,
            #5d4a1f 100%
        );
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--bg-color);
    color: white;
    font-family: 'Red Hat Display';
}
button {
    border: none;
}
a {
    text-decoration: none;
    color: inherit;
}
p {
    text-wrap: pretty;
}
.home-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6em 2em 6em;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2.5em;
}
header h1 {
    letter-spacing: 0.2em;
    color: var(--accent-color);
    font-weight: 500;
}
.join-button {
    background: var(--golden-gradient);
    color: black;
    letter-spacing: 0.2em;
    font-weight: 700;
    font-size: 24px;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
}

.home-content > * {
    width: 100%;
}

.send-message form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
    padding: 1rem 0;
}

.send-message textarea {
    width: 100%;
    height: 100%;
    min-height: 80px;
    background-color: var(--bg-color-light);
    color: white;
    border: none;
    border-radius: 5px;
    resize: vertical;
    padding: 1em;
}
textarea::placeholder {
    font-family: 'Red Hat Display';
}
.send-message button {
    height: fit-content;
    align-self: center;
    padding: 0.6rem 1rem;
    font-size: 24px;
    background-color: var(--accent-color);
    color: var(--bg-color);
    font-weight: 600;
}

.send-message .login-message {
    background: radial-gradient(white, var(--accent-color));
    color: var(--bg-color);
    border-radius: 5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.1);
}
.login-message h2 {
    font-weight: 500;
    font-size: 28px;
}
.login-message strong {
    font-size: 24px;
    text-decoration: underline;
}
.message-list {
    margin-top: 4em;
}

.message-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.message-list li {
    display: grid;
    gap: 0.25em;
}
.message-list li span {
    padding-left: 0.5em;
    font-size: 20px;
}
.message-list li strong {
    color: var(--accent-color);
}
.gold-border {
    background: var(--golden-gradient);
    padding: 2px;
}
.message {
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
}

.message-text p {
    min-height: 70px;
    padding: 0.3rem 1rem;
}

.signup-content {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    gap: 4em;
    padding-top: 4em;
}

.signup-heading {
    position: relative;
    letter-spacing: 0.125em;
    font-weight: 400;
    font-size: 64px;
    color: var(--accent-color);
}
.signup-heading::before {
    content: '';
    display: block;
    position: absolute;
    width: 500px;
    height: 500px;
    top: -800%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100vh;
    box-shadow: 0px 150px 300px 0px var(--accent-color-light);
}

.signup-content h2 {
    font-weight: 400;
}

.method-select {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.method-select span {
    font-size: 14px;
}
.method-select span a {
    color: var(--accent-color);
    font-weight: 700;
}
.signup-content .cards-container {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    margin: 0 auto;
    gap: 3em;
}

.cards-container > a {
    flex: 1;
    height: fit-content;
}

.card {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 0.6em 1.2em;
    color: black;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card h3 {
    font-size: 24px;
}
.card ul {
    padding: 0 0.6em;
    aspect-ratio: 1/1.2;
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-weight: 500;
}
.cards-container .user-card {
    background: linear-gradient(
        to bottom,
        var(--accent-color),
        var(--accent-color-dark)
    );
}

.user-card::before {
    content: '';
    position: absolute;
    background: transparent;
    border: 2px solid black;
    width: calc(100% - 0.8rem);
    height: calc(100% - 0.8rem);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.cards-container .member-card {
    background: var(--golden-gradient);
}
.member-card h3 {
    font-weight: 500;
    letter-spacing: 0.125em;
}

fieldset {
    border: none;
}
.form-field {
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding: 0.8em 0.5em;
    width: 100%;
    font-size: 16px;
}
.form-field:focus {
    outline: 2px solid var(--accent-color);
}

.signup-content.form-content {
    gap: 1em;
}

.signup-content .signup-form-wrapper {
    margin: 0 auto;
}

.signup-form-wrapper h2 {
    font-size: 24px;
}

.signup-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 3em 0 2em;
}

.signup-form .password-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2em;
}

.form-button {
    border: 2px solid var(--accent-color);
    border-bottom-width: 7px;
    background-color: var(--bg-color);
    color: white;
    width: fit-content;
    font-size: 36px;
    margin: 0 auto;
    padding: 0.1em 1.2em;
}
.form-button span {
    color: var(--accent-color);
    font-weight: 700;
}

span.error {
    color: rgb(255, 136, 106);
}
span.informative {
    color: hsl(0, 0%, 40%);
}
.golden-card-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.golden-card {
    background: var(--golden-gradient);
    color: black;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 200px;
    border-radius: 5px;
    padding: 1em;
    gap: 4em;
    text-align: center;
    justify-content: center;
}
.golden-card h2 {
    font-size: 18px;
    font-weight: 400;
}
.golden-card form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.golden-card button {
    background-color: var(--bg-color);
    width: fit-content;
    margin: 0 auto;
    padding: 0.25em 1em;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.golden-card button span {
    background: var(--golden-gradient);
    background-clip: text;
    color: transparent;
}
